h1{
    color: #293a80;
    font-weight: bold;
    font-style: italic;
}
h2{
    color: #537ec5;
    font-weight: bold;
    font-style: italic;
}
p{
    font-size: 12px;
    color: #1089ff;
     font-weight: bold; 
}
ul>li{
    color: #1089ff;
    font-weight: bold;
}
h3{
    color: #537ec5;
    font-weight: bold;
    font-style: italic;
}
